.StyleGuidePage {
  .color-palette-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .color-item {
      height: 5rem;
      color: var(--text-inverted);
      border: 2px solid var(--chrome400);
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      font-size: 0.8rem;

      &.primary100 {
        background: var(--primary100);
      }
      &.primary200 {
        background: var(--primary200);
      }
      &.primary300 {
        background: var(--primary300);
      }
      &.primary400 {
        background: var(--primary400);
      }
      &.primary500 {
        background: var(--primary500);
      }
      &.primary600 {
        background: var(--primary600);
      }
      &.chrome100 {
        background: var(--chrome100);
      }
      &.chrome200 {
        background: var(--chrome200);
      }
      &.chrome300 {
        background: var(--chrome300);
      }
      &.chrome400 {
        background: var(--chrome400);
      }
      &.chrome500 {
        background: var(--chrome500);
      }
      &.chrome600 {
        background: var(--chrome600);
      }
      &.chrome700 {
        background: var(--chrome700);
      }

      &.success100 {
        background: var(--success100);
      }
      &.success200 {
        background: var(--success200);
      }
      &.success300 {
        background: var(--success300);
      }

      &.error100 {
        background: var(--error100);
      }
      &.error200 {
        background: var(--error200);
      }
      &.error300 {
        background: var(--error300);
      }

      &.warning100 {
        background: var(--warning100);
      }
      &.warning200 {
        background: var(--warning200);
      }
      &.warning300 {
        background: var(--warning300);
      }
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  iframe {
    width: auto;
  }

  fieldset {
    padding: 0;
  }
}
