body {
  --header-height: 48px;
  --header-icon-padding: 0.3rem;
  --vertical-padding: 1.5em;
  --horizontal-padding: 1rem;
  --h1-size: 2.5rem;
  --h2-size: 2.2rem;
  --h3-size: 1.75rem;
  --h4-size: 1.5rem;
  --h5-size: 1.2rem;
  --h6-size: 0.8rem;

  @media (max-width: 768px) {
    --horizontal-padding: 0.6rem;
    --h1-size: calc(2.5rem * 0.68);
    --h2-size: calc(2.2rem * 0.68);
    --h3-size: calc(1.75rem * 0.68);
    --h4-size: calc(1.5rem * 0.68);
    --h5-size: calc(1.2rem * 0.68);
    --h6-size: calc(0.8rem * 0.68);
  }
}
