.blog-index {
  .hero-image-container {
    position: relative;

    .blog-hero-image {
      height: 230px;
      filter: var(--invert-dark);
    }

    h1 {
      color: var(--text);
      font-size: 1.7rem;
      left: 50%;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  nav.MuiPagination-root {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
}
